
[KCM Locale]
Name=Khmer
Name[ca]=Khmer
Name[ca@valencia]=Khmer
Name[cs]=Khmérské
Name[de]=Khmer
Name[en_GB]=Khmer
Name[es]=Camboyano
Name[eu]=Khmerera
Name[fi]=Khmer
Name[fr]=Khmer
Name[gl]=Khmer
Name[id]=Khmer
Name[it]=Khmer
Name[ja]=クメール語
Name[ko]=크메르어
Name[nb]=Khmer
Name[nl]=Khmer
Name[nn]=Khmer
Name[pt]=Khmer
Name[se]=Khmeragiella
Name[sk]=Khmérčina
Name[sr]=кмерски
Name[sr@ijekavian]=кмерски
Name[sr@ijekavianlatin]=kmerski
Name[sr@latin]=kmerski
Name[sv]=Kambodjanska
Name[uk]=Кхмерська
Name[x-test]=xxKhmerxx
